/* Stylesheet by JM (www.iseeyou-designs.com) Modified*/

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-table;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */


html{
	padding:0px;
	margin:0;
}

body{
	background-color:#eee;
	font-size:90%;
	font-family:"Trebuchet MS",Georgia,arial,sans-serif;
	color:#000;
	text-align:center;
	margin:0;
	padding: 0px;
}

#border{
	width:90%;
	padding:0;
	margin:0 auto;
	border-color:#a7a7a7;
	border-style:solid;
	border-width:2px 2px;
}

#container {

	text-align:left;
	margin:0 0;
	padding:15px;
	background:#fff;
	border-color:#727ea3;
	border-style:solid;
	border-width:0 1px;
}

#content {

	padding:10px;

	
}

#footer{
    color:#ffffff;
	text-align:center;
	padding:10px;
	font-size:0.8em;
	letter-spacing:2px;
	background-color:#6096BF;
	
}

.img_right {
	margin-left:10px;
	padding-left:5px;
	padding-bottom: 5px;
	float: right;
}

.img_left {
	margin-right:10px;
    float: left;
	padding-right: 5px;
	padding-bottom: 5px;
}

/*------HEADER------*/

#header {
background:#6096BF;
height:75px;
padding:10px;
}

#header h1 {
color:#fff;
font-size:2.5em;
font-weight:normal;
letter-spacing:-1px;

}

/*------NAV----------*/
#nav {
width: 100%;

}

#nav ul {
margin-left:0px;
margin-top:5px;
margin-bottom: 5px;

}

#nav li {
	display: inline;
	list-style: none;
	background-image:url(icons/list_arrow2.gif);
	background-repeat: no-repeat;
	margin: 5px;
	padding: 0 0 0 15px;
	}

#nav a {
	color: #000000
}



p {
	line-height:1.3em;
	color:#333;
}

a {
	text-decoration:none;
	color: #0044ba;
	border-bottom:1px solid #e2e1ee;
}

a:hover{
	color:#39581f;
	background-color:#FFF1C9;
	border-bottom:1px solid #e2e1ee;
}

h1{
	font-family:"Trebuchet MS",arial,sans-serif;
	font-size:2.6em;
	font-weight:normal;
	padding:0 0 10px 0;
	margin:20px 0px 5px 5px;
	
}

h2{
	font-family:"Lucida Grande","Lucida Sans Unicode",arial,sans-serif;
	font-size:1.4em;
	margin: 0 0 0 0;
	color:#4b4665;
	font-weight:bold;
}

h2 span{
	background:#fff;
	padding:5px 50px 10px 0;
	margin: 5px;
	line-height:2em;
}

h3{
	color:#666;
	font-family:"Lucida Grande","Lucida Sans Unicode",arial,sans-serif;
	font-weight:normal;
	font-size:1em;
	font-weight:bold;
	margin:0;
}

/*------HIGHLIGHT------*/

#pnote {
	background-color: #fff7e6;
	background-repeat: no-repeat;
   	background-position:top right;
	padding: 5px;
	margin: 20px 0px 20px 0px;
	clear: both;
	
		
}

#media {
	background-color: #f0e6ff;
    background-image: url(icons/media.gif);
	background-repeat: no-repeat;
   	background-position:top right;
	padding-right: 128px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 20px 0px 20px 0px;
	clear: both;
	
		
}

#greenbox{
	background-color: #faffe6;
	background-image: url(icons/interneticon.gif);
    background-repeat: no-repeat;
    background-position:top right;
	padding-right: 128px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 20px 0px 20px 0px;	
	clear: both;
	
	
}

#pdf{
	background-color: #Fff7e6;
	
    background-repeat: no-repeat;
    background-position:top right;
	padding-right: 128px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 20px 0px 20px 0px;	
	clear: both;
	
	
}

#quiz{
	background-color: #faffe6;
	background-image: url(icons/quizicon.gif);
    background-repeat: no-repeat;
    background-position:top right;
	padding-right: 128px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 20px 0px 20px 0px;	
	clear: both;
    
}

#discussion{
	background-color: #Fff7e6;
	background-image: url(icons/discussicon.gif);
    background-repeat: no-repeat;
    background-position:top right;
	padding-right: 128px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 20px 0px 20px 0px;	
	clear: both;
}

#portfolio {
	background-color: #e2e1ee;
	background-image: url(icons/portfolioicon.gif);
    background-repeat: no-repeat;
   	background-position:top right;
	padding-right: 128px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 20px 0px 20px 0px;
    clear: both;
	
		
}

#assignmentdrop{
	background-color: #FFF1C9;
	background-image: url(icons/dropboxicon.gif);
    background-repeat: no-repeat;
    background-position:top right;
	padding-right: 128px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 20px 0px 20px 0px;	
    clear: both;
	
	
}

#quiz{
	background-color: #FFF1C9;
	background-image: url(icons/quizicon1.gif);
    background-repeat: no-repeat;
    background-position:top right;
	padding-right: 128px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 20px 0px 20px 0px;
    clear: both;
	
}

#discussions{
	background-color: #DFF1FF;
    background-image: url(icons/discussicon.gif);
    background-repeat: no-repeat;
    background-position:top right;
	padding-right: 128px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 20px 0px 20px 0px;
	margin: 20px 0px 20px 0px;
    clear: both;


}

#bonus{
    background-color:#ebf5eb;
	background-image: url(icons/bonusmarkicon.gif);
    background-repeat: no-repeat;
   	background-position:top right;
	padding-right: 128px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 20px 0px 20px 0px;
	clear: both;

}

#internet{
    background-color:#ebf5eb;
	background-image: url(icons/interneticon.gif);
    background-repeat: no-repeat;
    background-position:top right;
	padding-right: 128px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 20px 0px 20px 0px;
    clear: both;


}

#email{
    background-color:#ebf5eb;
	background-image: url(icons/mailicon.gif);
    background-repeat: no-repeat;
    background-position:top right;
	padding-right: 128px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 20px 0px 20px 0px;
    clear: both;


}

#tip{
    background-color:#DFF1FF;
	background-image: url(icons/tipicon.gif);
    background-repeat: no-repeat;
    background-position:top right;
	padding-right: 128px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 20px 0px 20px 0px;
    clear: both;

}


#media{
    background-color:#e2e1ee;
	background-image: url(icons/media.gif);
    background-repeat: no-repeat;
    background-position:top right;
	padding-right: 128px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 20px 0px 20px 0px;
    clear: both;
	
}

#readingassignment{
    background-color:#ebf5eb;
	background-image: url(icons/readingassignment.gif);
    background-repeat: no-repeat;
   	background-position:top right;
	padding-right: 128px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 20px 0px 20px 0px;
	clear: both;

}

#vocabulary{
    background-color:#ebf5eb;
	background-image: url(icons/quizicon2.gif);
    background-repeat: no-repeat;
   	background-position:top right;
	padding-right: 128px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 20px 0px 20px 0px;
	clear: both;

}

#journal{
	background-color: #EDE2EF;
    background-image: url(icons/journal.gif);
    background-repeat: no-repeat;
    background-position:top right;
	padding-right: 128px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 20px 0px 20px 0px;
	margin: 20px 0px 20px 0px;
	clear: both;

}

#skills{
    background-color:#D6E1ED;
	background-image: url(icons/tools.gif);
    background-repeat: no-repeat;
    background-position:top right;
	padding-right: 128px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 20px 0px 20px 0px;
	clear: both;
}

#multipleperspectives{
    background-color:#e2e1ee;
	background-image: url(icons/multipleperspect.png);
    background-repeat: no-repeat;
    background-position:top right;
	padding-right: 128px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 20px 0px 20px 0px;
	clear: both;
}

#trackyourprogress{
    background-color:#e2e1ee;
	background-image: url(icons/scheduleicon.gif);
    background-repeat: no-repeat;
    background-position:top right;
	padding-right: 128px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 20px 0px 20px 0px;
	clear: both;
}

#help{
    background-color:#e2e1ee;
	background-image: url(icons/help.jpg);
    background-repeat: no-repeat;
    background-position:top right;
	padding-right: 128px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 20px 0px 20px 0px;
	clear: both;
}



/*------FEATURE BOX------*/
#feature {
	border: 0.2em solid #cccccc; 
	background-color: #ffffff; 
	padding: 5px;
	margin: 20px 0px 20px 0px;
	}


/*------BACK TO TOP------*/

#top {
	text-align:right;
	font-size:0.6em;
	letter-spacing:2px;
	padding-top: 20px;
}

